/*スマホ 320〜559px
タブレット 560〜959px
PC 1024px以上*/



@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

div#test {
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


/*========================================
    レイアウト
========================================= */


/* = Selected Text
----------------------------------------------- */
::selection {
	background:#d4dcd6; /* Safari */
}

::-moz-selection {
	background:#d4dcd6; /* Firefox */
}


body {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#wrapper {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	background-color:white;
}

/*========================================
    header リスト
========================================= */

header {
	width: 100%;
	height: 56px;
	background-color: #000;
	z-index: 50;
	position: fixed;
	top: -56px;
	left: 0;
}

.cb-header nav{
	width: 960px;
	height: 56px;
	margin: 0 auto;
}
.cb-header nav ul li {
	width: auto;
	height: 40px;
	float: left;
	margin-left: 103px;
	margin-top: 8px;
}
.cb-header nav ul li a img {
	width: auto;
	height: 40px;	
}
.cb-header nav ul li a:hover {
	filter: invert(85%) sepia(95%) saturate(6932%) hue-rotate(358deg) 
	brightness(95%) contrast(112%);
}
/*========================================
filterプロパティは、視覚効果として簡単に画像などの要素をぼかしたり、明るさ・彩度・色相などを変化させることが可能です。
	invert(反転),sepia(セピア調),saturate(彩度),
	hue-rotate(色相環),brightness(明度),
	contrast(対比)
========================================= */



/*========================================
    ヘッダー
========================================= */



.ab-header {
	width: 100%;
	height: 200px;
	/*text-shadow: 1px 1px 2px silver;*/
	margin: 0 auto;
	position: relative;
}

h1 img{
	width: 200px;
	height: 200px;
	float: left;
}

.ab-header ul {
	line-height: 15px;
	margin-top: 150px;
	margin-right: 150px;
	float: right;
}

.ab-header ul li{
	float: left;
	margin-left: 60px;
}

.ab-header ul li a{
	color: #555555;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.ab-header ul li a span {
	font-size: 11px;
}

.aa img {
	width: auto;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 50px;
}


/*========================================
    slider　動く画像
========================================= */

.slider{
    margin: 0 auto;
	width: 1024px;
}
/*.slider li img{
    height: 620px;
	width: 1024px;
	border: none;
}*/


.slider li img{
    height: 650px;
	width: 1080px;
	border: none;
}


/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

/*========================================
   #container 
========================================= */

#container {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

/*========================================
    about
========================================= */

#about {
	width: 1000px;
	height: 300px;
	padding: 0 100px;
	margin-top: 100px;
}

#about_txt {
	width: 490px;
	height: 190px;
	float: left;
	vertical-align: top;
}

h2 {
	font-size: 30px;
	font-family: 'Consolas',sans-serif;
	margin-bottom: 30px;
}
p {
	font-size: 13px;
	line-height: 40px;	
}

#about_img img{
	width: 420px;
	height: 280px;
	float: right;
	border: 5px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}


/*========================================
    topics
========================================= */

h3 {
	font-size: 25px;
	font-family: 'Consolas',sans-serif;
	margin-top: 30px;
	margin-left: 100px;
}
#topics {
	position: relative;
}

#topics ol{
	margin: 0 auto;
	width: 1000px;
	height: auto;
	padding: 50px 0;
	border-top: 1px dotted rgba(0,0,0,0.5);
	border-bottom: 1px dotted rgba(0,0,0,0.5);
}

#topics ol li {
	width: 960px;
	height: 35px;
	margin: 0px 0px 1px 0px;
}

#topics ol li span {
	width: 140px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
    background-color: #555555;
    color: #ffffff;
    display: inline-block;
	text-align: center;
}

#topics ol li a {
	font-size: 13px;
	color: black;
	line-height: 13px;
	margin-left: 20px;
	text-decoration: underline;
}

#topics ol li a:hover {
	color:red;
}

.bb img {
	width: auto;
	height: 100px;
	position: absolute;
	bottom: 2px;
	right: 100px;
}


/*========================================
    other
========================================= */

#other {
	margin: 0 auto;
	width: 1000px;
	height: 250px;
	margin-top: 70px;
	margin-bottom: 70px;
}
#other ol {
	text-align: center;
	display: inline-block;
}
#other ol li{
	float: left;
	margin-left: 25px;
}


#other ol li img{
	width: 300px;
	height: 150px;
}


#other ol li p{
	color: #555555;
	text-decoration: none;
	font-size: 20px;
	line-height: 20px;
}
#other ol li p span {
	font-size: 12px;
}

/*========================================
    share
========================================= */
.share {
	width: 80px;
	height: 160px;
	position: fixed;
	bottom: 150px;
	right: 0;
	text-align: center;
	background-color:white;
	z-index: 200;
	border: 1px dotted black;
}
.share ul p {
	width: 78px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	color: white;
	border: 1px solid #00CC66;
	background-color: #00CC66;
}
.social-icon{
	vertical-align: top;
	display: inline-block;
	background-color:#00CC99;
	width: 50px;
	height: 50px;
	color: #e3e3e3;
	font-size: 17px;
	margin: 13px 15px 0 15px;
}
  
.social-icon i {
	line-height: 50px;
	display: inline-block;
}
.social-icon:hover{
	color: #e3e3e3;
	background-color:#00CC99;
	opacity: 0.75;
}


/*========================================
    フッター
========================================= */

footer {
	width: 100%;
	height: 132px;
	line-height: 130px;
}

.footer_container {
	width: 100%;
	height: auto;
	margin: o auto;
	display: inline-block;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
}


.footer_container p {
	font-size: 13px;
	color: black;
	text-align: center;
}

#pageTop {
	position: fixed;
	bottom: 37px;
	right: 20px;
}
  
#pageTop i {
	padding-top: 6px
}
  
#pageTop a {
	display: inline-block;
	z-index: 999;
	margin: 0 auto;
	padding: 8px;
	border-radius: 30px;
	width: 35px;
	height: 35px;
	background-color:#00CCCC;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
   
#pageTop a:hover {
	text-decoration: none;
	opacity: 0.7;
}


.cf {
	clear: both;
}


/*========================================
    menu.html　
========================================= */

.img_data img{
	width: 1024px;
	height: 270px;
	margin: 0 auto;
	display:block;
}

.menu_container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	
}
.menu_btn {
	width: 360px;
	height: 240px;
	float: left;
	margin-top: 84px;
	margin-left: 93px;
}
.menu_btn:last-child{
	margin-bottom: 84px;
}

/*========================================
    access.html　
========================================= */
#map_container iframe{
	width: 480px;
	height: 500px;
	float: left;
	margin-left: 60px;
	background-color: white;
}
#access_container {
	width: 320px;
	height: 500px;
	float: right;
	margin-right: 60px;
	background-color: white;
}
#access_box {
	width: 320px;
	height: 120px;
	margin-top:100px;
}
#access_box2 {
	width: 320px;
	height: 185px;
	margin-top:47px;
}
#access_box p, #access_box2 p{
	font-size: 18px;
	line-height: initial;
}
/*line-height: initial; 
グローバル値
継承した親のline-heightの値を解消しデフォルト値に戻す*/
#access_box p:first-child {
	font-size: 30px;
	color:  grey;
}
#access_box2 p:first-child {
	font-size: 28px;
}

/*========================================
    recruit.html　
========================================= */
h4 {
	width: 100px;
	height: auto;
	text-align: center;
	vertical-align: middle;
	font-size:17px;
	border: solid 1px #CCCCCC;
	margin: 60px 0 20px 0;
	background-color: #F6F6F6;
}
.menu_container table {
	display: table;
	box-sizing: border-box;
	border-collapse: collapse;/*隣接するセルのボーダーを重ねて表示します。*/
	border-spacing: 2px;
	border-color: grey;
	font-size:12px;
}
.menu_container th {
	width: 180px;
	text-align: center;
	background-color: #F6F6F6;
	border: solid 1px #CCCCCC;
	display: table-cell;
    vertical-align: middle;
}
.menu_container td {
	width: 820px;
	display:table-cell;
	background-color: white;
	border: solid 1px #CCCCCC;
	display: table-cell;
    vertical-align: inherit;
	padding: 20px 15px;
	line-height: 34px;
}
